<!DOCTYPE html>
<html lang="en">

  {% include head.html %}
  {% include analytics.html %}
  
  <body>
    <nav class="nav-main">
      <ul>
        <li class="logo"><a class="hvr-ripple-out" href="{{ site.baseurl }}/">R</a></li>
        <li class="hvr-underline-reveal"><a href="{{ site.baseurl }}/blog/">Blog</a></li>
        <li class="hvr-underline-reveal"><a href="{{ site.baseurl }}/game/">Gaming</a></li>
        <li class="hvr-underline-reveal"><a href="{{ site.baseurl }}/product/">Product Management</a></li>
      </ul>
    </nav>

    <div class="container content">
      <main>
        {{ content }}
      </main>

      <footer class="footer">
        <div class="ftr-links">
        </div>
      </footer>
    </div>
  </body>
</html>
